@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img {
    height: 400px;
    width: 300px;
    border-radius: 8px;
}
.newText{
    margin-top: -40%;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
}
.box {
    height: 800px;
    width: 650px;
    border-style: solid;
    border-width: 1px;
    transition: width 2s, height 2s;
    margin-left: 31%;
}
button{
    border-radius: 8px;
    background-color:cadetblue;
}