@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(51, 47, 47);
}

div img {
    width: 650px;
    height: 650px;
    margin-left: 31%;
    margin-top: 0%;
    border-radius: 8px;
    border: solid 3px rgb(201, 187, 187);
}

.current-viewport {
    margin-top: 5%;
    margin-left: 5%;
    color: beige;
}

@media (max-width: 768px) and (min-width: 390px) {
    .viewport-mobile {
        background-color: rgb(146, 151, 158);
    }

    .current-viewport {
        margin-top: 12%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .viewport-tablet {
        background-color: rgb(79, 90, 83);
    }

    .current-viewport {
        margin-top: 15%;
    }
}